<h1>Start#index</h1>
<p>Find me in app/views/start/index.html.erb</p>
<!-- erb: paste this in view -->
<%= react_component("Start", { greeting: "Hello from react-rails." }) %>

<h1>From Here</h1>
<div id='start'></div>